$color-green: #1a3e3e;
$color-yellow: #f2be22;
$color-white: #fdfdfd;
$color-white-alt: #fff;
$color-white-input: #e1e3e4;
$color-gray: #f3f5f4;
$color-black: #000;
$color-black-alt: #252222;
$color-shadow: rgba(24, 18, 30, 0.12);

$border: 1px solid none;
$border-radius: 4px;

// $container-width: 1180px;
$container-width: 1300px;
$container-padding-x: 16px;

$section-padding-y-top: 80px;
$section-padding-y-bottom: 100px;
